table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  th.mat-sort-header-sorted {
    color: black;
    overflow: visible;
  }
  
  .bold{
    font-style: italic;
    font-size: 13px;
  }
  
  .mat-optgroup-label {
    color:black;
    font-weight:600;
    border-bottom:1px solid silver;
  }
  .mat-optgroup .mat-option:not(.mat-option-multiple) {
      padding-left: 0!important;
  }
  .mat-option-text {
      border-bottom:1px solid silver;
      padding-left:32px;
  }
  .mat-select{
    position: static;
    overflow: visible;
  }
  
  .searchbar{
    float:left;
  }

  .deletebutton{
      float: right;
  }

  .details{
    float: left;
}